.userList {
  position: relative;
  width: 100%;
  height: calc(100% - 100rpx);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFF;

  .homeBox {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .timeModal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .6);
    z-index: 9999;

    .timeModal-box {
      width: 100%;
      height: auto;
      background-color: #FFF;
    }
  }

  .listTitleLine {
    position: relative;
    display: flex;
    padding: 24rpx 24rpx;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    font-size: 32rpx;
    line-height: .5;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;

    .mustTip {
      color: #f56c6c;
      margin-right: 4px;
    }
  }

  .renderButtonDom {
    position: fixed;
    width: 100%;
    height: 100rpx;
    bottom: 0;
    left: 0;
    padding: 10rpx 32rpx;
    background: #FFFFFF;
    box-shadow: 0rpx -2rpx 8rpx 0rpx rgba(0, 0, 0, 0.08);

    .renderButtonDomButton {
      width: calc(100% - 64rpx);
      height: 80rpx;
      background: #00B87A;
      border-radius: 8rpx;
      text-align: center;
      font-size: 30rpx;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #FFF;
      line-height: 80rpx;
    }
  }
}

.at-input__title {
  width: 200rpx;
}

.at-list__item-extra {
  max-width: 100%;
}

.item-content__info-title:before {
  content: "*";
  color: #f56c6c;
  margin-right: 4px;
}