.index {
  width: 100%;
  height: 100%;

  .homeBox {
    position: relative;
    width: 100%;
    height: 100%;

    .homeBody {
      position: relative;
      width: 100%;
      height: calc(100% - 49rpx);

      .homeBodyPng {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}