@import "~taro-ui/dist/style/index.scss";

#app,
.index,
page {
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
}

.at-input input {
  text-align: right;
}

.homeFooter {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 96rpx;
  bottom: 0;
  left: 0;
  background-color: #FFF;

  .homeFooterSon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 96rpx;

    .homeFooterContent {
      width: 100%;
      height: 24rpx;
      margin-top: 5rpx;
      text-align: center;
      font-size: 22rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #323031;
      line-height: 24rpx;
    }
  }
}